{%  load staticfiles %}
<!DOCTYPE.html>
<html lang="es">
	<center>
	<b>ZOOLOGICO</b>
	</center>
	<meta charset="utf-8">
	<meta name="Zoologico" content="NathalyGuerrero">
	<meta name="viewport" content="wudth-device-width, initial-scale=1,shink-to-fit=no">
	<link rel="stylesheet" type='text/css' herf='/static/css/boostrap.min.css'>
	<script src="/static/js/jquery-3.2.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/boostrap.min.js"></script>
    <title>Zoologico</title>
	</head>
	</body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      <li class="nav-item active">
		        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#">Link</a>
		      </li> 
		    </ul>
		  </div>
		</nav>

		{%block body%}

		{%endblock%}
	</body>
</html>